.form {
  display: block;
  max-width: 500px;
  margin: auto;
  width: 100%;
  margin-top: 40px;
}

.credit-card.is-invalid + button {
  display: none;
}

button {
  appearance: none;
  display: block;
  width: 407px;
  margin: 10px auto;
  border: none;
  outline: none;

  line-height: 60px;
  font-size: 30px;
  background-color: #382633;
  color: #fff;
  cursor: pointer;
}

button.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}